<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>{{ .Site.Title }}</title>

  <link rel="stylesheet" href="/css/style.css">

</head>
<body class="sans-serif bg-white black-80">
  
  <div id="root"> <!-- Root -->

    <header class="bg-near-white pv2 bb b--moon-gray">
      <div class="mw7 center ph2 flex items-center">
        <a class="flex items-center no-underline black-80" href="/">
          <img src="/img/hughost.png" alt="" width="36">
          <div class="ml2 mr4">
            <h1 class="ma0 f3 lh-title">{{ .Site.Title }}</h1>
          </div>
        </a>
        <nav class="db">
          <div class="flex mw8 center">
            <a class="db pv2 ph3 no-underline blue" href="">Home</a>
            <a class="db pv2 ph3 no-underline blue" href="">About</a>
            <a class="db pv2 ph3 no-underline blue" href="">Fables</a>
            <a class="db pv2 ph3 no-underline blue" href="">Speeches</a>
            <a class="db pv2 ph3 no-underline blue" href="">Start a Blog</a>
          </div>
        </nav>
      </div>
    </header>

    {{ if .Params.image }}
    <div class="pv7-l pv6-m pv5 cover bg-center" style="background-image: url({{ .Params.image }})"></div>
    {{ end }}

    <div class="flex mw7 center">
      <main class="flex-auto pa2 mb4 mt4">
        <article class="mb5">
          <header>
            <h1 class="f1 lh-solid mt0 mb3">{{ .Title }}</h1>
            <time class="db">{{ .Date.Format "2 January 2006" }}</time>
          </header>
          <main class="nested-copy-line-height nested-headline-line-height nested-list-reset nested-copy-seperator nested-links f4-l f5">
            {{ .Content }}
          </main>
        </article>

        <section class="br2 center pa3 tc mb4">
          <img class="dib w3 mb2" src="/img/hughost.png" alt="">
          <h1 class="f3 mt0 mb2 lh-title">Get the best of {{ $.Site.Title }} delivered to your inbox.</h1>
          <p class="ma0 mb3 w-100">Sign up for our newsletter!</p>
          <form class="mb3 flex justify-center" action="">
            <input class="input-reset bb bt-0 bl-0 br-0 b--moon-gray pv2 pl3 w5 f4" type="email" placeholder="yourname@example.com" required>
            <button class="button-reset br-pill br--right bg-blue white bn ph3 pv2 pointer" type="submit">Subscribe</button>
          </form>
          <small class="db">or subscribe <a class="blue" href="">via RSS</a> with Feedly!</small>
        </section>

        {{ range where $.Site.Pages "Type" "author" }}
          {{ if eq .Slug $.Params.author }}
          <div class="flex items-start">
            <img class="br-pill w3 h3" src="{{ .Params.image }}" alt="" style="object-fit: cover">
            <div class="ml3">
              <h2 class="mt0 mb1 measure lh-title f3"><a class="black-80 no-underline" href="{{ .Permalink }}">{{ .Params.name }}</a></h2>
              <p class="mt0 mb3 measure lh-copy">{{ .Params.bio }}</p>
              <div>
                <small class="dib">{{ .Params.location }}</small>
                <small class="dib ml3"><a class="blue" href="{{ .Params.website }}">{{ .Params.website }}</a></small>
              </div>
            </div>
            <div class="flex-auto"></div>
            <div class="ml3">
              <div class="b mb3 f4">Share this post</div>
              <div class="flex">
                <a class="mr3 mb3" href=""><img src="https://image.flaticon.com/icons/svg/174/174876.svg" alt="" width="32" height="32"></a>
                <a class="mr3 mb3" href=""><img src="https://image.flaticon.com/icons/svg/174/174848.svg" alt="" width="32" height="32"></a>
                <a class="mr3 mb3" href=""><img src="https://image.flaticon.com/icons/svg/174/174851.svg" alt="" width="32" height="32"></a>
              </div>
            </div>
          </div>
          {{ end }}
        {{ end }}

      </main>

    </div>

    {{ partial "footer" . }}
  </div> <!-- ./Root -->

  <script src="/js/script.js" data-turbolinks-eval="false"></script>
  <!--<script src="https://unpkg.com/turbolinks@5.0.0" data-turbolinks-eval="false"></script>-->
</body>
</html>
